/*******************Header**********************/
*{
  font-family: Trebuchet MS, Helvetica;
}
header{
  margin: 0 auto;
  /*display: inline-block;*/
  height: 15%;
  min-height: 110px;
  width:100 %;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
}
header h1{
  display: inline-block;
  color: white;
/*  margin-bottom: 66px;
*/}
nav{
  margin:0 auto;
  clear: right;
  text-align: center;
  top: -1.25em;
}
nav a{
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: 1.4em;
  font-weight: 100;
  color: black;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;

  
  position: relative;
  bottom: 0;
  
}
.logo{
  margin: 1% auto;
/*  background-color: white;
*/  display: inline-block;
  height: 100%;
  width: 7%;
  float: left;
/*  border: 2px dashed black;
*/}

.logo img{
  height: auto;
  min-height: 75px;
  width: 175%;
  min-width: 150px;
  display: inline-block;
  z-index: 1;
}

nav a:first-child {
  /*box-shadow: 0px 0px 4px 4px white;*/
  /*background-color: white;*/
	border-radius: 3px;
	border: 1px solid;
	/*font-weight:200;*/
  color: white;
 
  left: -1.25em;
  }
nav a:last-child{
	border-radius: 3px;
	border: 1px solid;
  /*box-shadow: 0px 0px 4px 4px white;*/
/*  background-color: white;*/
color: white;

  left: -1.25em;
}

#banner{
  display: inline-block;
  height:15%;
  width: 75%;
  min-height: 75px;
/*  min-width: 500px;
*/  z-index: 0;
}


/********************Body****************/

.container{
  margin: 0 auto;
  max-width: 75%;
}

.tableContainer{
  max-width: 75%;
}

table{
	cursor:pointer;

}
.step_opt{
  margin-top: 0em;
  margin-left: -5px;
  text-align: left;
  float: left;
  display: inline-block;
  max-width: 20%;
  width: auto;
  line-height: 2.5;
  /*border: 2px solid;*/
}

.sqopt{
  margin: 0 auto;
  border:none;
  float: left;
  width: auto;
  max-width: 100%;
  font-size: 0.8em;
  height:100px;

}

ul{
  list-style-type: none;
}
.sqopt li{
  word-spacing: 0.75;
}

/*steps */
td {
    border: 2px solid;
    border-color: #eeeeee;
    border-radius:8px;
    width: 35px;
    height: 35px;

}
.clicked{
  background-color: #5000A2;
  /*box-shadow: inset 0 0 2px #FFFF00;*/
}

.highlight{
	background-color: #ffb6c1;
	/*border: none;*/
}

/*selector menus*/
select{
	background: url(http://i62.tinypic.com/15xvbd5.png);
	background-size: 18%;
	background-position: 94% 55%;
	background-repeat: no-repeat;
	overflow:hidden;
	-webkit-appearance:none;
	-moz-border-radius:20px;
	border: 2px solid;
	background-color: #bb44df;
	/*background-color: #000000;*/
	text-align: center;
	color: #000000;
	height: 30px;
	width: 100px;
	max-width: 100px;
	padding: 5px;
}

.rounded{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.step_opt li {
	padding: -15px;
	border-radius: 20px;
	/*border: 1px solid;*/
	height: 40px;
}

/*input{*/
	/*background-color:#bb99ef;*/
/*}*/

input[type="text"] {
	border: 2px solid;
	border-radius:5px;


}

.transportbutton{
	border: 2px solid;
	border-radius:10px;
	background: #ee99bc
}

.resizebutton{
	border: 2px solid;
	border-radius:7px;
	background: #eeaaee
}

section{
  margin-top: 10px;
  text-align: center;
  margin: 0 auto;
}

table{
  margin: 0 auto;
}

.toolbox{
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  font-size: 0.8em;
}
.toolbox ul li{
  display: inline-block;
}
.range-slider p{
  display: inline;
  margin-right: 10px;
}
.range-slider{
  float: left;
  margin-bottom:15px;
}
// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;


// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

/*body {
  font-family: sans-serif;
  padding: 60px 20px;
  
  @media (min-width: 600px) {
    padding: 60px;
  }*/
}
.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  /*width: calc(100% - (#{$range-label-width + 13px}));*/
  width: 150px;
  height: 15px;
  border-radius: 10px;
  background: #bb99ef;
  padding: 0;
  margin: 0;
 }



.range-slider__value {
  display: inline-block;
  position: relative;
  /*width: $range-label-width;*/
  max-width:20px;
  min-width:20px;
  color: #555555;
  line-height: 20px;
  text-align: left;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 5px;
  margin-left: 0px;
}

.sliderlabel {
	font-size: 0.7em;
	margin-right:10px;
}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}


/**********ABOUT PAGE********/
img{
  margin: 0 auto;
  z-index: 0;
}

.aboutinfo{
  margin: 4% auto;
  display: inline-block;
}

.aboutleft, .aboutright{
margin: 0 auto;
max-width: 35%;
width: 25%;
display: inline-block;
text-align: justify;
overflow: hidden;
margin-top: 20px;
height: 60%;
/*border: 1px solid lightgray;
*/padding: 15px;
}

.aboutleft{
  margin-right: 20px;
  vertical-align: text-top;
}

.aboutright{
  margin-left: 20px;
  vertical-align: text-top;
}

.aboutimg{
  width: 75%;
  margin: 0 auto;
}

.aboutimg img{
  margin: 0 auto;
  max-height: 200px;
  max-width: 500px;
  display: inline;
}
/**********STORIES PAGE********/

.stories{
  max-width: 85%;
  display: inline-block;
  margin-top: 10px;
  border-topbottom: 1px black solid;
}
.stories p{
  max-width: 60%;
  display: inline-block;
  text-align: left;
  line-height: 2.5;
}

.stories p::first-letter {
  float: left;
  font-size: 5em;
  margin: 0 .2em 0 0;
}

.stories:nth-child(even){
border-right: 1px solid black;
border-bottom: 1px solid black
}

.stories:nth-child(odd){
border-left: 1px solid black;
border-bottom: 1px solid black
}


 /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 
/******RESPONSIVE DESIGN******/
@media only screen and (max-width: 880px) {
    body {
        /*background-color: orange;*/

    }
    nav a{
      font-size: 1em;
    }
    #banner{
      
    }
}

@media only screen and (max-width: 650px) {
    body {
        /*background-color: orange;*/

    }
    nav a{
      font-size: 1em;
    }
    #banner{
      display: inline;
    }
}
